.container {
    position: fixed;
}
  
.page {
    position: fixed;
    /* transition: opacity 2200ms ease-in-out; */
    /* transition-delay: -0.5s; */
}
  
.page-enter {
    /* transform: translateX(-100vw); */
    opacity: 0;
}
  
.page-enter-active {
    opacity: 1;
    /* transform: translateX(0); */
    transition: opacity 200ms;
    /* transition: opacity 400ms, transform 400ms; */
}

.page-exit {
    /* transform: translateX(0); */
    opacity: 1;
}

.page-exit-active {
    opacity: 0;
    /* transform: translateY(100vh); */
    transition: opacity 200ms;
    /* transition: opacity 400ms, transform 400ms; */
    /* transition-delay: 100ms; */
}