.container {
    position: fixed;
}
  
.page {
    position: fixed;
    /* transition: opacity 2200ms ease-in-out; */
    /* transition-delay: -0.5s; */
}
  
.page-enter {
    z-index: 10;
    transform: translateY(-100vh);
    opacity: 0;
}
  
.page-enter-active {
    z-index: 10;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 200ms;
    /* transition: opacity 200ms, transform 200ms; */
}

.page-exit {
    z-index: 1;
    transform: translateY(0);
    opacity: 1;
}

.page-exit-active {
    z-index: 1;
    opacity: 0;
    /* transform: translateY(100vh); */
    transition: opacity 200ms;
    /* transition-delay: 100ms; */
}