body{
    margin:0;
    padding:0;
}

::-webkit-scrollbar {
    display: none;
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: #00ff00;
    // background: #ff00ff;
}

::selection {
    color: white;
    background: #00ff00;
    // background: #ff00ff;
}
